{% extends 'base.html' %}
{% block content %}
    <div class="container">
		<div class="span-15">
			<h1>Однодневный тренинг <br>про отношения в паре</h1>
			<div class="span-7">
			<h2>Предлагаем не прятать</h2>
			<p>Попробуйте один день побыть<br> максимально собой и посмотреть<br> как это влияет на ваши отношения <br>с другими.</p>
			<img src="{{ STATIC_URL }}images/case1.png">
			<h4>Запись по телефонам:</h4>
			<h3>+7 (926) 099-09-26 (Маша)</h3>
			<h3> +7 (495) 726-43-01 (Алена)</h3>
			</div>
			<div class="span-8">
			<img src="{{ STATIC_URL }}images/case2.png">
			<h2>И уж точно не прятатся</h2>
			<p>Для тех, кому интересно быть<br> в отношениях, а не только думать,<br> что они у него есть. Узнайте, как вы <br>влияете на отношения, и какой вклад<br> вы можете в них внести.</p>
			<h2>Или оставьте заявку на участие</h2>
                <form action="{% url order_create %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Отправить заявку</button>
                </form>
			</div>
		</div>
		<div class="span-9">
			<img src="{{ STATIC_URL }}images/portret.png">
			<h5>Такмакова Мария и Тимофеева Алена<br>практикующие психологи </h5>
			<h6>Выпускницы Московского Института Гештальта и Психодрамы</h6>
		</div>
	</div>
{% endblock %}